#brand{
  height: 50px;
  border-radius: 10px;
}
#homeBackGround{
  background-image: url("Miami.png");
  margin-top: 50px
}
#homeText{
  padding-top: 100px;
  padding-left: 50px;
}
#second{
  width:680px;
  background: rgba(255, 255, 255, 0.5);;
  color: black;
  font-size: 50px;
  text-align: center;
  margin: 0 auto;
}
#sponsorsText{
  font-size: 10px;
  padding-top: 30px;
}
.FAQ{
  text-align: left;
  padding-left: 20px;
}
.jumbotron{
  text-align: center;
}
.banner {
  width: 100%;
  height: 100%;
  background-color: #CCC;
  background-repeat: no-repeat;
  background-postion: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
